# 一般的な隠しファイル・ディレクトリ
.*
!.gitignore  # .gitignore は除外しない
!.gitkeep
# !.github  # GitHubの設定フォルダは必要なら残す

# キャッシュや開発環境の設定ファイル
.cache/
.vscode/
.vscode-server/
.idea/
__pycache__/
*.swp  # Vimの一時ファイル
*.swo
.gitconfig

# SSHや認証情報（重要！）
.ssh/
.gnupg/

# OSやエディタの不要ファイル
.DS_Store
.bash_history
Thumbs.db

# ROS2のビルド・ログ関連（Git管理不要）
build/
install/
log/
build_foxy 
install_foxy
log_foxy

# credentials / local configs
src/pm_config/config/*secret*.yaml
src/pm_config/config/*private*.yaml
src/pm_config/config/*local*.yaml
